*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.xcconfig
/shared/datasources/movie_database.properties
/iosApp/Podfile.lock
/iosApp/Pods/
/shared/datasources/core/movie_database.properties
/santukis.properties
